<p id="notice"><%= notice %></p>

<h1>
  <strong>Name:</strong>
  <%= @user.name %>
</h1>

<h2>
  <strong>Email:</strong>
  <%= @user.email %>
</h2>

<h3>Upcoming Events</h3>

<% @user_upcoming_events.each do | event | %>
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/64x64.png" alt="">
                </figure>
            </div>   
            <div class="media-content">
                <div class="content">
                <strong><%= event.title %></strong><br />
                <small><%= event.description %></small><br />
                <small><%= event.date %></small><br />
                <p><%= event.creator.name %></p>
                </div>
            </div>
        </article>
    </div>   
<% end %>

<h3>Past Events</h3>

<% @user_past_events.each do | event | %>
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/64x64.png" alt="">
                </figure>
            </div>   
            <div class="media-content">
                <div class="content">
                <strong><%= event.title %></strong><br />
                <small><%= event.description %></small><br />
                <small><%= event.date %></small><br />
                <p><%= event.creator.name %></p>
                </div>
            </div>
        </article>
    </div>  
<% end %>

<h3>Attended Events</h3>

<% @user.attended_events.each do | att_event | %>
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/64x64.png" alt="">
                </figure>
            </div>   
            <div class="media-content">
                <div class="content">
                <strong><%= att_event.title %></strong><br />
                <small><%= att_event.description %></small><br />
                <small><%= att_event.date %></small><br />
                <p><%= att_event.creator.name %></p>
                </div>
            </div>
        </article>
    </div>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
