<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% current_user.events.each do | event | %>
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/64x64.png" alt="">
                </figure>
            </div>   
            <div class="media-content">
                <div class="content">
                <strong><%= event.title %></strong><br />
                <small><%= event.description %></small><br />
                <small><%= event.date %></small><br />
                <p><%= event.creator.name %></p>
                </div>
            </div>
        </article>
    </div>
    
<% end %>

<% @user.attended_events.each do | att_event | %>
    <div class="content">
        <strong><%= att_event.title %></strong><br />
        <small><%= att_event.description %></small><br />
        <small><%= att_event.date %></small><br />
        <p><%= att_event.creator.name %></p>
    </div>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
