<h1>Upcoming Events</h1>
<% @upcoming_events.each do | event | %>
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/64x64.png" alt="">
                </figure>
            </div>   
            <div class="media-content">
                <div class="content">
                <strong><%= event.title %></strong><br />
                <small><%= event.description %></small><br />
                <small><%= event.date %></small><br />
                <p><%= event.creator.name %></p>
                </div>
            </div>
        </article>
    </div>
    
<% end %>

<h1>Past Events</h1>
<% @past_events.each do | event | %>
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/64x64.png" alt="">
                </figure>
            </div>   
            <div class="media-content">
                <div class="content">
                <strong><%= event.title %></strong><br />
                <small><%= event.description %></small><br />
                <small><%= event.date %></small><br />
                <p><%= event.creator.name %></p>
                </div>
            </div>
        </article>
    </div>
    
<% end %>
